{% extends 'directory/layouts/default.html' %}

{% load static %}

{% block title %} Teacher Directory {% endblock %}

{% block content %}

<body>

  <div class="m-8 p-8 shadow-lg">
    <div class="flex-auto p-32 m-8 shadow-xl rounded-tr-3xl rounded-bl-3xl bg-gradient-to-b from-gray-400 to-gray-100t">
      <h2 class="font-sans text-9xl text-center text-white">Teacher Directory</h2>
    </div>
    
    <br>
    
    <div class="flex-auto p-8 m-8 shadow-lg shadow-xl opacity-75 rounded-tl-3xl rounded-br-3xl bg-gradient-to-b from-gray-100 to-gray-400">
        <div class="ui large icon input">

        <input class="form-control" id="myInput" type="text" placeholder="Search ...">
        <i class="search icon"></i>
        
        </div>

          <a href="/login/"><div class="ui primary right floated labeled icon button">
            <i class="user icon"></i> Login
          </div></a>

          <a href="/bulk-upload/"><div class="ui primary right floated labeled icon button">
            <i class="upload icon"></i> Bulk Import
          </div></a>
          <a href="/teacher-add/"><div class="ui primary right floated labeled icon button">
            <i class="user icon"></i> Add Teacher
          </div></a>

      <table class="ui compact celled violet table">
        <thead>
        <tr>
        <th>Profile Picture</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-mail address</th>
        <th>Phone Number</th>
        <th>Room Number</th>
        <th>Subjects Taught</th>
        </tr>
        </thead>

        <tbody id="myTable">
        {% for item in teacher_list %}
          <tr class="font-sans font-medium hover:text-blue-500">
          <td>
            {% if item.image %}
              <a href="{{ item.get_absolute_url }}">
                <img class="ui centered rounded tiny image" src="{{ item.image.url }}" alt="profile">
              {% else %}
                <img class="ui centered rounded tiny image" src="{% static '/images/teachers/21167.JPG' %}" alt="">
            {% endif %}
            </a>
          </td>
          <td> {{item.first_name}} </td>
          <td> {{item.last_name}} </td>
          <td> {{item.email}} </td>
          <td> {{item.phone}} </td>
          <td> {{item.room_no}} </td>
          <td> {{item.subject}} </td>
          </tr>
        {% endfor %}
        </tbody>

        <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="7">
              
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
      });
    });
  </script>

</body>


{% endblock %}